.ladi-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.ladi-container h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(37, 23, 200);
    margin-bottom: 20px;
}

.ladi-grid {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.ladi-grid h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(37, 23, 200);
}
.ladi-item {
    padding: 15px;
    border-radius: 10px;
}

.ladi-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.ladi-item p {
    margin-top: 10px;
    font-size: 20px;
}
