.product-page {
    max-width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .product-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .price {
    font-size: 24px;
    color: #ffad40;
    margin: 10px 0;
  }
  
  .order-button {
    background-color:#ffad40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hotline {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .product-content {
    max-width: 1220px;
    gap: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .product-image img {
    width: 300px;
  }
  
  .product-details {
    max-width: 600px;
  }
  
  .shopping-links a {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color:#ffad40;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  
  .product-features {
    list-style-type: none;
    padding: 0;
  }
  
  .product-features li {
    margin: 10px 0;
  }
  
  .product-gallery img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
  }
  
  .contact {
    text-align: center;
    margin-top: 20px;
  }
  
  .contact h3 {
    background-color:#ffad40;    ;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .product-header label {
    font-size: 16px;
    margin-right: 10px;
}

.product-header select {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-right: 15px;
    cursor: pointer;
}

.product-header select:focus {
    border-color:#ffad40;
}
@media screen and (max-width: 768px) {
  .product-content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    gap: 20px; /* Adjust gap for better spacing */
  }

  .product-image img {
    width: 80%;
    margin: 0 auto;
  }

  .product-details {
    max-width: 100%;
  }

  .product-header h1 {
    font-size: 22px;
  }

  .price {
    font-size: 20px;
  }

  .order-button {
    width: 100%;
    padding: 15px;
  }

  .shopping-links a {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .product-header label, .product-header select {
    width: 100%;
    margin-bottom: 10px;
  }

  .slideshow-container {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .product-header h1 {
    font-size: 20px;
  }

  .price {
    font-size: 18px;
  }

  .order-button {
    padding: 10px;
  }

  .shopping-links a {
    padding: 8px 10px;
  }

  .product-header label, .product-header select {
    font-size: 14px;
  }
}